version: "3.9"

services:
  api:
    build: ./backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
    volumes:
      - ./backend:/app
    command: sh -c "npx prisma migrate deploy && node server.js"

  db:
    image: postgres:16
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/appdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
